<a href="https://colab.research.google.com/github/SagarGuttal/Machine-learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Animal classification**

Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('zoo.csv')

data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
features = list(data.columns)
print(features)

['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'class_type']

In [5]:
features.remove('class_type')
features.remove('animal_name')

print(features)

['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']

In [6]:
X = data[features].values.astype(np.float32)
Y = data.class_type


print(X.shape)
print(Y.shape)

(101, 16)
(101,)

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.5, random_state = 0)

print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(50, 16)
(50,)
(51, 16)
(51,)

**` Logistic Regression`**

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
model = LogisticRegression()
model.fit(X_train, Y_train)
print("training accuracy :", model.score(X_train, Y_train))
print("testing accuracy :", model.score(X_test, Y_test))

training accuracy : 1.0
testing accuracy : 0.9215686274509803

`Decision tree`

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
model_2 = DecisionTreeClassifier()
model_2.fit(X_train, Y_train)
print("training accuracy :", model_2.score(X_train, Y_train))
print("testing accuracy :", model_2.score(X_test, Y_test))

training accuracy : 1.0
testing accuracy : 0.9803921568627451

**Random forest**

In [12]:
from sklearn.ensemble import RandomForestClassifier

model_3 = RandomForestClassifier()
model_3.fit(X_train, Y_train)
print("training accuracy :", model_3.score(X_train, Y_train))
print("testing accuracy :", model_3.score(X_test, Y_test))

training accuracy : 1.0
testing accuracy : 0.9215686274509803

**Support Vector Machine**

In [13]:
from sklearn.svm import SVC

model_4 = SVC(kernel = "rbf", C = 1.0, gamma = 0.1)
model_4.fit(X_train, Y_train)
print("training accuracy :", model_4.score(X_train, Y_train))
print("testing accuracy :", model_4.score(X_test, Y_test))

training accuracy : 0.98
testing accuracy : 0.8235294117647058

**Ada Boost Classifier**

In [14]:
from sklearn.ensemble import AdaBoostClassifier

model_5 = AdaBoostClassifier()
model_5.fit(X_train, Y_train)
print("training accuracy :", model_5.score(X_train, Y_train))
print("testing accuracy :", model_5.score(X_test, Y_test))

training accuracy : 0.82
testing accuracy : 0.5882352941176471