In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import GridSearchCV

In [2]:
path=r"C:\Users\Sagar Guttal\Desktop\Data analysis(Netz)\Machine Learning Algorithms\Data set\Movie_classification.csv"
data=pd.read_csv(path)

In [3]:
data.head(10)

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1
5,20.5970,59.36,0.542,35718.650,132.2,6.890,7.100,6.885,7.005,7.26,498425,YES,143.48,284.592,Comedy,53,460,57400,0
6,21.7658,70.74,0.476,33396.660,140.1,7.065,7.265,7.150,7.400,8.96,459241,YES,139.16,243.664,Thriller,41,522,45800,0
7,22.8910,70.74,0.476,34285.460,169.6,6.980,7.075,6.875,7.170,7.96,400821,NO,116.84,243.536,Drama,56,571,44200,0
8,24.2248,70.74,0.476,31280.205,173.5,6.910,7.075,6.850,7.000,7.96,295168,YES,118.60,242.640,Comedy,55,564,33000,1
9,23.4008,70.74,0.476,33352.220,159.4,6.665,6.725,6.575,6.855,7.96,412012,YES,189.56,283.024,Thriller,45,508,37800,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB

In [5]:
data.shape

(506, 19)

* missing values

In [6]:
data.isnull().sum()

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
Start_Tech_Oscar        0
dtype: int64

* Time taken has 12 missing values we have fill with mean time

In [7]:
data.Time_taken.mean()

157.39149797570855

In [8]:
data["Time_taken"].fillna(value=data.Time_taken.mean(),inplace=True)

In [9]:
data.isnull().sum()

Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
3D_available           0
Time_taken             0
Twitter_hastags        0
Genre                  0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

In [10]:
data.dtypes

Marketing expense      float64
Production expense     float64
Multiplex coverage     float64
Budget                 float64
Movie_length           float64
Lead_ Actor_Rating     float64
Lead_Actress_rating    float64
Director_rating        float64
Producer_rating        float64
Critic_rating          float64
Trailer_views            int64
3D_available            object
Time_taken             float64
Twitter_hastags        float64
Genre                   object
Avg_age_actors           int64
Num_multiplex            int64
Collection               int64
Start_Tech_Oscar         int64
dtype: object

* Genre and 3D_available columns have categorical values that why convert into numarical values

In [11]:
data=pd.get_dummies(data,columns=["3D_available","Genre"],drop_first=True)

In [12]:
data

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,...,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,...,109.60,223.840,23,494,48000,1,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,...,146.64,243.456,42,462,43200,0,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,...,147.88,2022.400,38,458,69400,1,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,...,185.36,225.344,45,472,66800,1,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,...,176.48,225.792,55,395,72400,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,21.2526,78.86,0.427,36624.115,142.6,8.680,8.775,8.620,8.970,6.80,...,186.96,243.584,27,561,44800,0,0,0,0,0
502,20.9054,78.86,0.427,33996.600,150.2,8.780,8.945,8.770,8.930,7.80,...,132.24,263.296,20,600,41200,0,1,0,0,0
503,21.2152,78.86,0.427,38751.680,164.5,8.830,8.970,8.855,9.010,7.80,...,109.56,243.824,31,576,47800,0,0,1,0,0
504,22.1918,78.86,0.427,37740.670,162.8,8.730,8.845,8.800,8.845,6.80,...,158.80,303.520,47,607,44000,0,1,1,0,0
505,20.9482,78.86,0.427,33496.650,154.3,8.640,8.880,8.680,8.790,6.80,...,205.60,203.040,45,604,38000,0,1,1,0,0

* X and y split

In [16]:
x=data.loc[:,data.columns !="Start_Tech_Oscar"]
type(x)

pandas.core.frame.DataFrame

In [17]:
y=data["Start_Tech_Oscar"]
type(y)

pandas.core.series.Series

In [18]:
x.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [20]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: Start_Tech_Oscar, dtype: int64

* split into training and spliting

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [23]:
print("Shape of x_train :- ",x_train.shape)
print("Shape of x_test :- ",x_test.shape)
print("Shape of y_train :- ",y_train.shape)
print("Shape of y_test :- ",y_test.shape)

Shape of x_train :-  (404, 20)
Shape of x_test :-  (102, 20)
Shape of y_train :-  (404,)
Shape of y_test :-  (102,)

* Standardardizing Data

In [24]:
sc=StandardScaler().fit(x_train)

In [25]:
x_train_std=sc.transform(x_train)
x_test_std=sc.transform(x_test)

### Train the base model

In [26]:
base_model=svm.SVC()
base_model.fit(x_train_std,y_train)

SVC()

In [27]:
base_model_predictions_training=base_model.predict(x_train_std)
base_model_predictions_testing=base_model.predict(x_test_std)

### Model performance

In [30]:
confusion_matrix(y_test, base_model_predictions_testing)

array([[24, 20],
       [20, 38]], dtype=int64)

In [31]:
accuracy_score(y_test, base_model_predictions_testing)

0.6078431372549019

## Grid search
* Liner kernel

In [33]:
params = {'C':(0.001,0.005,0.01,0.05, 0.1, 0.5, 1, 5, 10, 50,100,500,1000)} 
svm_1=svm.SVC(kernel='linear')
svm_grid_lin = GridSearchCV(svm_1, params, n_jobs=-1,
                            cv=10, verbose=1, scoring='accuracy') 
svm_grid_lin.fit(x_train_std, y_train)

Fitting 10 folds for each of 13 candidates, totalling 130 fits

GridSearchCV(cv=10, estimator=SVC(kernel='linear'), n_jobs=-1,
             param_grid={'C': (0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50,
                               100, 500, 1000)},
             scoring='accuracy', verbose=1)

In [34]:
svm_grid_lin.best_params_

{'C': 0.1}

In [36]:
accuracy_score(y_test, svm_grid_lin.predict(x_test_std))

0.5980392156862745

* Polynomial

In [37]:
params = {'C':(0.001,0.005,0.01,0.05, 0.1, 0.5, 1, 5, 10, 50,100,500,1000)} 
svm_2=svm.SVC(kernel='poly',degree=2)
svm_grid_lin_2 = GridSearchCV(svm_2, params, n_jobs=-1,
                            cv=10, verbose=1, scoring='accuracy') 
svm_grid_lin_2.fit(x_train_std, y_train)

Fitting 10 folds for each of 13 candidates, totalling 130 fits

GridSearchCV(cv=10, estimator=SVC(degree=2, kernel='poly'), n_jobs=-1,
             param_grid={'C': (0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50,
                               100, 500, 1000)},
             scoring='accuracy', verbose=1)

In [38]:
svm_grid_lin_2.best_params_

{'C': 0.5}

In [39]:
accuracy_score(y_test, svm_grid_lin_2.predict(x_test_std))

0.5882352941176471

* Radial

In [40]:
params = {'C':(0.001,0.005,0.01,0.05, 0.1, 0.5, 1, 5, 10, 50,100,500,1000)} 
svm_3=svm.SVC(kernel='rbf',gamma=0.5)
svm_grid_lin_3 = GridSearchCV(svm_3, params, n_jobs=-1,
                            cv=10, verbose=1, scoring='accuracy') 
svm_grid_lin_3.fit(x_train_std, y_train)

Fitting 10 folds for each of 13 candidates, totalling 130 fits

GridSearchCV(cv=10, estimator=SVC(gamma=0.5), n_jobs=-1,
             param_grid={'C': (0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50,
                               100, 500, 1000)},
             scoring='accuracy', verbose=1)

In [42]:
svm_grid_lin_3.best_params_

{'C': 5}

In [43]:
accuracy_score(y_test, svm_grid_lin_3.predict(x_test_std))

0.6176470588235294

In [46]:
score_1=accuracy_score(y_test, svm_grid_lin.predict(x_test_std))
score_2=accuracy_score(y_test, svm_grid_lin_2.predict(x_test_std))
score_3=accuracy_score(y_test, svm_grid_lin_3.predict(x_test_std))

model_performance={
    "Kernel":["Linear","poly","radial"],
    "Score" :[score_1,score_2,score_3]
}

df_f=pd.DataFrame(model_performance)
df_f

   Kernel     Score
0  Linear  0.598039
1    poly  0.588235
2  radial  0.617647